.HorizontalStreamThumbnailDetails-container {
  flex: 1;
  padding-left: 0.5em;
  font-size: 0.8em;
  font-weight: lighter;
  color: #666666;
}

.HorizontalStreamThumbnailDetails-detail {
  margin: 0.2em 0;
}

.HorizontalStreamThumbnailDetails-title {
  margin-bottom: calc(0.2em + 4px);
  color: #222222;
  font-weight: bold;
  height: calc(100% - 4em - 4px);
  text-overflow: ellipsis;
  overflow-y: hidden;
}
