.HorizontalStreamThumbnailDetails-container {
  flex: 1;
  padding-left: 0.5em;
  font-size: 0.8em;
  font-weight: lighter;
  color: #666666;
}

.HorizontalStreamThumbnailDetails-detail {
  margin: 0.2em 0;
  max-width: calc(200px - 0.5em);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.HorizontalStreamThumbnailDetails-title {
  margin-bottom: 0.2em;
  color: #222222;
  font-weight: bold;
  max-width: 100%;
  height: calc(100% - 4em - 4px);
  text-overflow: ellipsis;
  overflow-y: hidden;
}

@media screen and (max-width: calc(800px + 12rem)) {
  .HorizontalStreamThumbnailDetails-detail {
    max-width: 100%;
  }
}