.HorizontalStreamThumbnailsContainer-container {
  max-width: 400px;
  box-sizing: border-box;
  padding-left: 1em; }

.HorizontalStreamThumbnailsContainer-title {
  padding: 1em 0;
  font-weight: bolder; }

.HorizontalStreamThumbnailsContainer-thumbnails {
  display: flex;
  flex-direction: column; }

@media screen and (max-width: calc(800px + 12rem)) {
  .HorizontalStreamThumbnailsContainer-container {
    max-width: 100%;
    padding-left: 0; }
  .HorizontalStreamThumbnailsContainer-title {
    margin-top: 1em; } }
