.HorizontalStreamThumbnailDetails-container {
  flex: 1;
  padding-left: 0.5em;
  font-size: 0.8em;
  font-weight: lighter;
  color: #666666; }

.HorizontalStreamThumbnailDetails-title {
  margin: 0.4em 0 0.6em 0;
  color: #222222;
  font-weight: bold; }
