.SearchOptions-container {
  display: flex;
}

.SearchOptions-search-types-container {
  flex: 1;
}

.SearchOptions-number-of-results-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .SearchOptions-number-of-results-label {
    margin-right: 1em;
  }

  .SearchOptions-number-of-results-select {
    min-width: 4.4em;
    color: #222222;
  }

}
