.SearchBar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;

  a {
    color: white;
  }
}

.SearchBar-input {
  line-height: calc(2em - 4px);
  flex: 1;
  margin: 0 1em;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid white;
  border-left: none;
  background-color: transparent;
  color: white;
  font-size: inherit;
}

.SearchBar-input:focus {
  outline: none;
}
