div.SearchBar-container {
  display: flex;
  flex-direction: row;
  align-items: center; }

input.SearchBar-input {
  line-height: 2em;
  flex: 1;
  margin-right: 0.5em;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid white;
  border-left: none;
  background-color: transparent;
  color: white;
  font-size: inherit; }

input.SearchBar-input:focus {
  outline: none; }
