.SearchBar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em; }
  .SearchBar-container a {
    color: white; }

.SearchBar-input {
  line-height: calc(2em - 4px);
  flex: 1;
  margin: 0 1em;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid white;
  border-left: none;
  background-color: transparent;
  color: white;
  font-size: inherit; }

.SearchBar-input:focus {
  outline: none; }

.SearchBar-suggestions-container {
  position: absolute;
  top: calc(1rem + 2em);
  left: calc(6rem + 2em + 2px);
  right: calc(6rem + 2em);
  z-index: 10; }
