.StreamPlayer-container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: calc(800px + 12rem)) {
  .StreamPlayer-container {
    flex-direction: column;
  }
}

.StreamPlayer-stream-container {
  display: flex;
  flex-direction: column;
}

.StreamPlayer-title {
  padding: 1em 0;
  font-weight: bolder;
  text-transform: uppercase;
}

.StreamPlayer-thumbnails {
  width: 400px;
}
