.StreamThumbnailsContainer-title {
  padding: 1em 0 0 1em;
  font-weight: bolder;
  text-transform: uppercase;
}

.StreamThumbnailsContainer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
