.StreamPlayer-container {
  display: flex;
  flex-direction: row;
}

.StreamPlayer-stream-container {
  display: flex;
  flex-direction: column;
}

.StreamPlayer-title {
  padding: 1em 0;
  font-weight: bolder;
  text-transform: uppercase;
}

.StreamPlayer-stream {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 400px);
}

.StreamPlayer-thumbnails {
  width: 400px;
}
