.VerticalStreamThumbnailsContainer-title {
  padding: 1em 0 0 1em;
  font-weight: bolder;
  text-transform: uppercase; }

.VerticalStreamThumbnailsContainer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
