html, body, .App {
  height: 100%; }

.App {
  font-size: large;
  background-color: #DDDDDD; }

.App-header {
  padding: 1rem 6rem;
  background-color: #222222;
  color: white; }

.App-body {
  padding: 0 6rem;
  height: calc(100vh - 124px);
  overflow: auto; }
